---
# yamllint disable rule:line-length
name: Linux build

on:
  push:
    branches:
      - main
      - master
      - develop
    paths-ignore:
      - 'manual/**'
    tags:
      - '*'
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - 'manual/**'

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Ubuntu 22.04 wxGTK 3
            runner: ubuntu-22.04
            cmake_generator: Unix Makefiles
            push_cloudsmith: 1

          - name: Ubuntu 24.04 wxGTK 3
            runner: ubuntu-24.04
            cmake_generator: Unix Makefiles
            push_cloudsmith: 0

    env:
      wxGTK_VERSION: ${{ matrix.gtk_version && matrix.gtk_version || 3 }}
      CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install dependencies
        run: |
          ./ci/github-pre-build.sh

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} ${{ matrix.cmake_defines }}

      - name: Build
        run: cmake --build build --config ${{env.BUILD_TYPE}} --target tarball

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.runner }}-tarball
          path: |
            build/*.tar.gz
            build/*.xml

      - name: Upload to Cloudsmith
        if: matrix.push_cloudsmith == 1 && github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        run: |
          ./upload.sh
        working-directory: build
