---
# yamllint disable rule:line-length
name: Windows build

on:
  push:
    branches:
      - main
      - master
      - develop
    paths-ignore:
      - 'manual/**'
    tags:
      - '*'
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - 'manual/**'

env:
  BUILD_TYPE: Release
  CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows MSVC x64
            runner: windows-latest
            cmake_defines: -DCMAKE_CXX_STANDARD=17
            arch: x64
            push_cloudsmith: 1

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up MSVC Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}

      - name: Install dependencies and build
        run: |
          call buildwin/win_deps.bat
          cmake -A ${{ matrix.arch }} -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} ${{ matrix.cmake_defines }}
          cmake --build build --config ${{env.BUILD_TYPE}} --target tarball
        shell: cmd

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}-tarball
          path: |
            build/*.tar.gz
            build/*.xml

      - name: Publish to Cloudsmith
        if: matrix.push_cloudsmith == 1 && github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        run: |
          cd build
          .\upload.bat
        shell: cmd
